*{
    box-sizing:border-box;
}
.home {
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(160, 192, 214, 0.8);
}
.home-image {
  background-image: url("/Users/this_is_mjk/Projects/Learning/secy-recruit24/app-frontend/public/slide2.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40%; /* Adjust height as needed */
}
.clock {
  font-size: 4rem;
  margin: 0.5em;
  color: whitesmoke;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.heading {
  font-size: 2.5rem;
  color: gray;
  margin: 2% auto;
  text-align: center;
  font-family: serif;
  font-style: italic;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 600px;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  padding-bottom: 50px;
}
.form-element {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 5px auto;
  width: 60%;
  text-align: center;
}
